body {
    font-family: 'Manrope', sans-serif;
    background-color: #151515;
}
.title-font{
    font-family: 'Berkshire Swash', cursive;
}
.header-bg{
    background-image: url('/assets/img/headder-bg.png');
    height: 100%;
    width: auto;
    object-fit: cover;
}


button:disabled,
button[disabled]{
  background-color: #A2A9AF!important;
  color: #fff!important;
}